<% if current_user %>
  <h4>Add a comment:</h4>
  <%= form_for [@post, Comment.new], remote: true do |f| %>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <%= f.submit "Save Comment", class: 'btn btn-success' %>
  <% end %>
<% end %>