<h1>About Bloccit</h1>
<p>Created by: <%= my_name %></p>

<div>
<form type="input"><%= link_to "My Pinterest", "https://www.pinterest.com/vcooper_us", class: "social-btn" %></form>
</div>
    
    
   
   

